<% if @sistemas.count <= 0 %>
  <h3>Você Precisa Cadastrar pelo menos um Sistemas. <%= link_to "Cadastre Agora", new_sistema_path %></h3>
<% else %>
  <%= form_with(model: experimento, local: true, html: { multipart: true }) do |form| %>
    <% if experimento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(experimento.errors.count, "error") %> encontrado(s):</h2>

        <ul>
        <% experimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <%= form.label 'Sistema Associado', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <% if (params[:sistema_id] && (current_user.admin? or Sistema.friendly.find(params[:sistema_id]).user.id == current_user.id)) %>
          <b>Sistema <%= Sistema.friendly.find(params[:sistema_id]).nome %></b>
          <%= form.hidden_field :sistema_id, value: Sistema.friendly.find(params[:sistema_id]).id %>
        <% else %>
          <%= form.collection_select(:sistema_id, @sistemas, :id, :nome,  {}, { class: "form-control" } ) %>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Nome", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.text_field :nome, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Fase", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.collection_select(:fase, @fases, :last, :first, {}, { class: "form-control" } ) %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Início", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.date_field :inicio, value: l(form.object.inicio || Date.today), placeholder: "DD/MM/YYYY", class: "form-control", data: { provide: "datepicker" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Fim", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.date_field :fim, value: l(form.object.fim || Date.today), placeholder: "DD/MM/YYYY", class: "form-control", data: { provide: "datepicker" } %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Descrição", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.text_field :descricao, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Imagem", class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-8">
        <%= form.file_field :imagem, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label 'Plantas Associadas', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <% if ! @plantas.empty? %>
          <%= form.collection_select(:planta_ids, @plantas, :id, :nome,  { include_hidden: false }, { class: "form-control", multiple: true } ) %>
        <% else %>
          <b>Não há Plantas Registradas. Deseja <%= link_to "Cadastrar?", new_planta_path, :target => "blank"%></b>
        <% end %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit t(:submit), class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
