<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:all), experimentos_path, :class => "nav-link #{if (request.path == "/experimentos" && request.parameters["search"].blank?) then 'active' end }" %>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to t(:new), new_experimento_path, :class => "nav-link" %>
    </li>
  <% end %>
  <% if request.path != "/experimentos" %>
    <li class="nav-item">
      <%= link_to 'Experimentos do ' + Sistema.friendly.find(params[:sistema_id]).nome, '#', :class => "nav-link active" %>
  </li>
  <% end %>
  <% if ! request.parameters["search"].blank? %>
    <li class="nav-item">
      <%= link_to 'Buscando por ' + request.parameters["search"], '#', :class => "nav-link active" %>
    </li>
  <% end %>
</ul>

<br/>
<div class="search-box" style="float: right;">
  <%= form_tag(experimentos_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<% if ! @experimentos.empty? %>
<div class="tab-content">
  <div class="tab-pane active"><br/>
    <table class="table table-responsive">
      <tbody>
        <% @experimentos.each_slice(5) do |p| %>
        <tr>
          <% p.each do |experimento| %>
            <td class="list">
              <%= link_to image_tag(experimento.imagem.url(:thumb), :width => "180"), experimento_path(experimento) %>
              <br/><br/>
              <b><%= link_to experimento.nome + " (" + experimento.sistema.nome + ")", experimento_path(experimento) %></b>
              <br/>
              <%= link_to 'Plantas Associadas: ' + experimento.plantas.count.to_s, experimento_plantas_path(experimento) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% else %>
  <br/><br/><br/>
  <h3>Nenhum Registro Encontrado. Deseja <%= link_to 'Cadastrar?', new_experimento_path %></h3>
<% end %>
